body {}

div {
    /* width: 400px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.form-control{
  
    margin:10px;
}
.slider {
    width: 650px;
    margin: 0 auto;
}
#achivement_banner{
    border:1px solid #70ff63;
    border-radius: 8px;
}
#main_div {
    margin-top: 10px;
}

#show {
    padding: 20px;
}

#education {
    padding: 40px;
}

#hero_section {
    padding: 40px;
}

@media only screen and (max-width:400px) {
    div {
        /* flex-wrap: nowrap; */
        display: flex;
        flex-direction: column;
        /* background-color: red */
    }

    #pid {
        flex: 100%;
    }
}

.divClass {}

#jumbo {
    color: #0099d9 !important;
}

#divId {}

#pid {
    /* width: 200px; */
    flex: 30%
}